header .main-nav {
  z-index: 3;
}

header .main-nav .navbar-toggler {
  border: 0;
}

header .main-nav ul {
  margin: 0;
}

header .main-nav ul a {
  cursor: pointer;
}

header .overlay {
  padding-top: 0;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

header .overlay .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

header .overlay .overlay-content a {
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

header .overlay .overlay-content a:hover, header .overlay .overlay-content a:focus {
  color: #f1f1f1;
}

.shine {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-size: 300px;
  -webkit-background-size: 300px;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: shine;
  -webkit-animation-name: shine;
  animation-duration: 4s;
  color: linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

header .main-nav .navbar-toggler {
  outline: none !important;
}

.btn:focus {
  outline: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

main .portfolio .case {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
  margin-right: 40px;
}

main .portfolio .desktop {
  margin-right: 40px;
  height: auto;
  max-width: 460px;
}

main .portfolio .case-title {
  margin: 0;
  font-size: 22px;
}

main .portfolio .case-paragraph {
  margin: 14px 0;
  text-align: start;
}

main .portfolio .case-paragraph-note {
  margin: 14px 0;
  text-align: start;
  margin: 0;
  padding: 0;
}

.navbar-text a {
  color: hsla(0, 0%, 100%, .5) !important;
}

.navbar-text a:hover {
  text-decoration: none;
}

@keyframes shine {
  0%, 10% {
    background-position: -200px;
  }
  100% {
    background-position: top left;
  }
}

.tooltip .arrow {
  margin-top: 10px;
}

.tooltip-inner {
  background-color: #ffcb00 !important;
  margin-top: 10px !important;
  color: #000 !important;
  padding: 14px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow:before, .bs-tooltip-bottom .arrow:before {
  border-bottom-color: #ffcb00 !important;
}

*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

a {
  font-weight: 300 !important;
}

hr {
  width: 100%;
}

.preloader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.preloader .load {
  height: 200px;
  width: 200px;
  margin: 50vh auto;
  border: 5px solid rgba(60, 60, 180, 0.45);
  border-top: 5px solid #3c3cb4;
  border-radius: 50%;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

main {
  z-index: 1;
  min-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

main .main-section .typewriter-desktop {
  font-size: 35px;
}

main .main-section .typewriter-mobile {
  display: none !important;
}

main .main-section hr {
  margin-top: 4px;
}

main .main-section .blinkingCursor {
  color: #f8a400;
  margin-left: 1px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

main .main-section .about-title {
  margin: 10px auto;
}

main .main-section .about-title h2 {
  font-size: 28px;
}

main .main-section .portfolio-btn {
  margin: 80px 0;
}

main .main-section .portfolio-btn a {
  text-decoration: none;
  color: #fff;
}

main .main-section .social-icons {
  font-size: 30px;
}

main .main-section .social-icons li {
  margin: 0 10px;
  display: inline-block;
  list-style-type: none;
}

main .main-section .social-icons a {
  color: #343a40;
  text-decoration: none;
}

main .main-section .social-icons a::before {
  content: "\eab0";
  font-family: icomoon, sans-serif;
}

main .main-section .social-icons ul li:last-child a::before {
  content: "\eac9";
  font-family: icomoon, sans-serif;
}

main .main-section .author p {
  margin: 0 !important;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

main .technologies {
  position: fixed;
  min-width: 100vw;
  background: #ffcb00;
  top: 0;
  left: 0;
  -webkit-transition: width 0s, height 1s, transform 1s;
  -o-transition: width 0s, height 1s, transform 1s;
  transition: width 0s, height 1s, transform 1s;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  text-align: center;
}

main .technologies.show {
  -webkit-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  transform: translateY(-1%);
}

main .technologies h2 {
  font-size: 38px;
  padding-bottom: 34px;
}

main .technologies .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .technologies .img-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 40px;
}

main .technologies img {
  max-width: 160px;
  width: 100%;
}

main .portfolio {
  position: fixed;
  min-width: 100vw;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
  -webkit-transition: width 0s, height 1s, transform 1s;
  -o-transition: width 0s, height 1s, transform 1s;
  transition: width 0s, height 1s, transform 1s;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

main .portfolio hr {
  margin: 10px;
}

main .portfolio.show {
  -webkit-transform: translateY(-1%) !important;
  -ms-transform: translateY(-1%) !important;
  transform: translateY(-1%) !important;
}

main .portfolio p {
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

main .portfolio .title {
  margin-bottom: 10px;
}

main .portfolio .title .btn {
  margin: 10px 0;
}

main .portfolio .swiper-container {
  width: 100%;
  height: 100%;
}

main .portfolio .swiper-wrapper {
  position: absolute;
}

main .portfolio .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-slide {
  cursor: pointer;
}

.overlay-device {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-device .icon-container {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

.overlay-device .icon-container p {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  opacity: 0;
}

.overlay-device .icon-container .phone {
  position: relative;
  left: 50%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 0 solid black;
  background: darkgray;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay-device .icon-container .phone span {
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 120px;
  font-size: 50px;
  color: #454545;
  opacity: 0;
}

@-webkit-keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}

@keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}

@-webkit-keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}

@keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    color: black;
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    color: black;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn-span {
  100% {
    color: white;
    opacity: 1;
  }
}

@keyframes fadeIn-span {
  100% {
    color: white;
    opacity: 1;
  }
}

@-webkit-keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 992px) {
  .navbar-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .navbar-toggler {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .overlay .overlay-content {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 1600px) {
  main .main-section .portfolio-btn {
    margin: 40px 0;
  }
}

@media only screen and (max-width: 1440px) {
  main .main-section .portfolio-btn {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 1280px) {
  main .main-section .portfolio-btn {
    padding: 8px 0;
    margin: 10px 0;
    font-weight: 300;
  }

  main .main-section .portfolio-btn a {
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
  }
}

@media only screen and (max-width: 1200px) {
  main .main-section .typewriter-desktop {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1024px) {
  main .btn-lg {
    font-size: 20px;
  }

  main .main-section .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  main .main-section .container .typewriter-desktop {
    display: none !important;
  }

  main .main-section .container .typewriter-mobile {
    font-size: 30px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  main .main-section .container .portfolio-btn {
    padding: 8px 0;
    margin: 40px 0;
    font-weight: 300;
  }

  main .main-section .container .portfolio-btn a {
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  main .main-section {
    padding-top: 0;
    margin-top: 0;
  }

  main .main-section .container .about-title {
    margin: 2px auto;
  }

  main .main-section .container .about-title h2 {
    font-size: 22px;
  }

  main .main-section .container .portfolio-btn {
    margin: 30px 0;
  }

  main .main-section .container .social-icons {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    font-size: 40px;
  }

  main .main-section .container .social-icons li {
    margin: 0 10px;
    display: inline-block;
    list-style-type: none;
  }

  main .main-section .container .author {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    font-size: 18px;
  }

  .preloader .load {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  main .main-section .typewriter-mobile {
    font-size: 22px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 460px) {
  main .btn-lg {
    font-size: 14px;
  }

  main .main-section .container .typewriter-mobile {
    font-size: 19px;
  }

  main .main-section .container hr {
    margin-top: 4px;
  }

  main .main-section .container .about-title {
    margin: 0 auto;
  }

  main .main-section .container .about-title h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  main .main-section .container .about-main p {
    font-size: 12px;
    margin: 0;
  }

  main .main-section .container .portfolio-btn {
    margin: 10px auto;
  }

  main .main-section .container .social-icons {
    font-size: 30px;
  }

  main .main-section .container .social-icons ul {
    margin-bottom: 0;
  }

  main .main-section .container .social-icons ul li {
    margin: 0 10px;
  }

  main .main-section .container .author {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1400px) {
  main .technologies img {
    max-width: 130px;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  main .technologies h2 {
    font-size: 24px;
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  main .technologies .img-wrapper {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  main .portfolio p {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  main .portfolio hr {
    margin-left: 10%;
    margin-right: 10%;
  }

  main .portfolio .container p {
    margin-top: 10px;
  }

  main .portfolio .container .swiper-container {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 420px) {
  main .portfolio .title h2 {
    font-size: 20px;
  }

  main .portfolio .title button {
    margin-top: 0;
    font-size: 12px;
  }

  main .portfolio hr {
    margin-top: 0;
  }
}


@media only screen and (max-width: 320px) {
  main .portfolio p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) and (max-height: 500px) {
  #main {
    display: none !important;
  }

  #technologies {
    display: none !important;
  }

  #portfolio {
    display: none !important;
  }

  .overlay-device {
    display: block;
  }

  .overlay-device .phone {
    -webkit-animation: sizeIncrease 0.5s forwards ease, borderIncrease 0.5s 0.5s forwards ease, rotateRight 0.7s 1s forwards ease;
    animation: sizeIncrease 0.5s forwards ease, borderIncrease 0.5s 0.5s forwards ease, rotateRight 0.7s 1s forwards ease;
  }

  .overlay-device .phone span {
    -webkit-animation: fadeIn 0.5s 0.8s forwards ease;
    animation: fadeIn 0.5s 0.8s forwards ease;
  }

  .overlay-device .icon-container p {
    -webkit-animation: fadeIn-span 0.5s 1.3s forwards ease;
    animation: fadeIn-span 0.5s 1.3s forwards ease;
  }
}

@media only screen and (max-width: 1024px) {
  main .portfolio .desktop {
    max-width: 360px;
  }
}

@media only screen and (max-width: 767px) {
  main .portfolio .desktop {
    max-width: 200px;
  }
}

@media only screen and (max-width: 560px) {
  main .portfolio .desktop {
    display: none;
  }

  main .portfolio .case {
    width: 100%;
    margin-right: 30px;
  }

  main .portfolio .case-title {
    font-size: 16px;
  }

  main .portfolio .case-links-ct {
    margin-bottom: 10px;
  }

  main .portfolio .case-link {
    font-size: 14px;
  }

  main .portfolio .case-paragraph {
    margin-bottom: 10px;
    font-size: 14px;
  }

  main .portfolio .case-paragraph-note {
    margin-top: 0 !important;
    font-size: 14px;
  }
}
