$mq-phone: 400px;
$mq-phone-wide: 480px;
$mq-phablet-small: 500px;
$mq-phablet: 560px;
$mq-tablet-small: 640px;
$mq-tablet: 768px;
$mq-tablet-mid: 992px;
$mq-tablet-wide: 1024px;
$mq-desktop: 1248px;
$mq-desktop-wide: 1440px;
$mq-temp-wide-size: 1782px;

$breakpoints: ('phone': $mq-phone, 'phone-wide': $mq-phone-wide, 'phablet-small': $mq-phablet-small, 'phablet': $mq-phablet, 'tablet-small': $mq-tablet-small, 'tablet': $mq-tablet, 'tablet-mid': $mq-tablet-mid,'tablet-wide': $mq-tablet-wide, 'desktop': $mq-desktop, 'desktop-wide': $mq-desktop-wide, 'temp-wide': $mq-temp-wide-size)
