body {
	font-family: Open Sans, sans-serif;
	color: #525f7f;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color: #32325d;
}

h1 {
	font-size: 28px !important;
}

h2 {
	font-size: 32px !important;
	line-height: 32px !important;
}

h3 {
	font-size: 24px !important;
	line-height: 24px !important;
}

h4 {
	font-size: 22px !important;
	line-height: 22px !important;
}

a {
	color: #5e72e4;
	text-decoration: none;
	background-color: transparent;
	&:hover {
		text-decoration: none;
	}
}

p {
	font-size: $paragraph-font-size;
	font-weight: $paragraph-font-weight;
	line-height: $paragraph-line-height;
}

main {
	overflow: initial !important;
}
