.bg-html {
	background-color: #e1601a !important;
}

.bg-css {
	background-color: #c06395 !important;
}

.bg-js{
	background-color: #d2bf00 !important;
}

.bg-vue{
	background-color: #52b27d !important;
}

.bg-html {
	background-color: #e1601a !important;
}
