*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1px;
}

main {
  padding-top: 56px;
}

main .typewriter-desktop {
  font-size: 35px;
}

main .typewriter-mobile {
  display: none !important;
}

main hr {
  margin-top: 4px;
}

main .blinkingCursor {
  color: #f8a400;
  margin-left: 1px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

main .about-title {
  margin: 10px auto;
}

main .about-title h2 {
  font-size: 28px;
}

main .portfolio-btn button {
  padding: 8px 0;
  margin: 80px 0;
  font-weight: 300;
}

main .portfolio-btn button a {
  text-decoration: none;
  padding: 8px 16px;
  color: #fff;
}

main .social-ico {
  font-size: 30px;
}

main .social-ico li {
  margin: 0 10px;
  display: inline-block;
  list-style-type: none;
}

main .social-ico a {
  color: #343a40;
  text-decoration: none;
}

main .social-ico a::before {
  content: "\eab0";
  font-family: icomoon, sans-serif;
}

main .social-ico ul li:last-child a::before {
  content: "\eac9";
  font-family: icomoon, sans-serif;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@media only screen and (max-width: 1200px) {
  main .typewriter-desktop {
    font-size: 28px;
  }
}

@media only screen and (max-width: 992px) {
  main .typewriter-desktop {
    display: none !important;
  }

  main .typewriter-mobile {
    font-size: 30px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) {
  main .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  main .container .about-title {
    margin: 2px auto;
  }

  main .container .about-title h2 {
    font-size: 22px;
  }

  main .container .portfolio-btn button {
    margin: 30px 0;
  }

  main .container .social-ico {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    font-size: 40px;
  }

  main .container .social-ico li {
    margin: 0 10px;
    display: inline-block;
    list-style-type: none;
  }

  main .container .author {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  main .typewriter-mobile {
    font-size: 22px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 420px) {
  main {
    padding-top: 0;
  }

  main .container .typewriter-mobile {
    font-size: 19px;
  }

  main .container hr {
    margin: 4px;
  }

  main .container .about-title {
    margin: 0 auto;
  }

  main .container .about-title h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  main .container .about-main p {
    font-size: 12px;
    margin: 0;
  }

  main .container .portfolio-btn button {
    margin: 10px auto;
    font-size: 12px;
  }

  main .container .social-ico {
    font-size: 30px;
  }

  main .container .social-ico ul {
    margin-bottom: 0;
  }

  main .container .social-ico ul li {
    margin: 0 10px;
  }

  main .container .author {
    font-size: 14px;
  }
}
