.technologies {
  position: fixed;
  min-width: 100vw;
  background: #ffcb00;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  text-align: center;
}

.technologies.show {
  -webkit-transform: translateY(-2%);
  -ms-transform: translateY(-2%);
  transform: translateY(-2%);
}

.technologies h2 {
  font-size: 38px;
  padding-bottom: 34px;
}

.technologies img {
  height: 110px;
  margin: 20px;
}
